
header {
  background-image: url('sample.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  filter: brightness(120%);
  background-size: cover;
  
  text-align: center;
  color: black;
  
}
header .container {
  padding-top: 0px;
  padding-bottom: 200px;
}


#contactus{
    font-size: 70px;
    font-weight: bold;
    
}

#mainNav{
     background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.red{
    color:red;
    }
.form-area
{
    background-color: white;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	
	}

    .form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}